
/* Your CSS Code here. */

	
/* Your CSS Code here. */

#form{
	height:90vh;
	background-color:aqua;
	
}

#form>div
{
	margin-top:25px;
		padding:10px;
	margin-left:30px;
}
.required::before
{
	content:"*";
	color:red;
}